.banner {
    border-radius: 30px;
    border: 1px solid;
    margin: 41px 0 52px;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    height: min-content;
    background-position: center;
    position: relative;

    &__item {
        width: 50%;
        padding: 68px 0 176px 56px;
    }

    &__title{
        margin: 8px 0 24px;
    }

    &__description {
        margin-bottom: 32px;
    }
}

.main {
    height: calc(100vh - 60px);
}

.logo {
    position: absolute;
    right: 32px;
    bottom: 85px;
}

