.button {
    padding: 18px 32px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 0px 20px 20px 32px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
    transition: 0.4s;
}

.button:active {
    opacity: 0.4;
    transition: 0.4s;
}

