.panel {
    width: 371px;
    height: 58px;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 0 30px;
    border-bottom: 1px solid;
    border-left: 1px solid;

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;

    }
    
    &__item-circle {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        border: 1px solid #ffffff;
        position: relative;
    }

    &__item-circle::before {
        content: '';
        position: absolute;
        width: 21px;
        background-color: #fff;
        height: 1px;
        transform: rotate(-45deg);
        top: 50%;
    }

    &__item-line {
        height: 2px;
        width: 13px;
        background-color: #fff; 
    }

    &__item-dot {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        border: 1px solid #ffffff;

        &_fill {
            width: 13px;
            height: 13px;
            border-radius: 100%;
            border: 1px solid #ffffff;
            background-color: #ffffff;
        }
    }

    &__center-circle {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        border: 1px solid #ffffff;
        position: relative;
    }

    &__center-circle::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            border: 0.5px solid #ffffff;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }
}

