* 
  box-sizing: border-box

canvas 
  display: block

body 
  font-family: 'ABC Favorit Extended', sans-serif
  color: $color-base
  background-color: $color-dark
  text-transform: uppercase
  overflow-x: hidden

li 
  list-style-type: none

a 
  text-decoration: none
  color: inherit

ul, p 
  margin: 0

h1, h2, h3, h4, h5, h6 
  margin: 0

button 
  background: none
  border: none

.font-base 
  font-size: 16px
  line-height: 24px
  font-weight: 400

.container 
  padding: 0 24px

.banner 
  margin: 41px 0 52px
  position: relative

.logo 
  position: absolute
  right: 32px
  bottom: 85px

.hidden 
  display: none

















