* {
    box-sizing: border-box;
}

canvas {
    display: block;
}

body {
    font-family: 'ABC Favorit Extended', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    background: none;
    border: none;
}

.title {
    font-weight: 300;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.02em;
}

.description {
    font-weight: 300;
    font-size: 16px;
    line-height: 64px;
    letter-spacing: -0.02em;
}

.font-base {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container {
    padding: 0 24px;
}


















