/* Bold */
@font-face {
	font-family: 'ABC Favorit Extended'; 
  	font-style: normal;
	font-weight: 700;
	src: url(../fonts/Favorit-BoldExtended.otf); 
}

/* Medium */
@font-face {
	font-family: 'ABC Favorit Extended'; 
  	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Favorit-MediumExtended.otf); 
}

@font-face {
	font-family: 'Inter'; 
  	font-style: normal;
	font-weight: 500;
	src: url(../fonts/Inter-Medium.ttf); 
}

/* Regular */
@font-face {
	font-family: 'ABC Favorit Extended';
  	font-style: normal;
	font-weight: 400; 
	src: url(../fonts/Favorit-RegularExtended.otf); 
}

/* Light */
@font-face {
	font-family: 'ABC Favorit Extended'; 
  	font-style: normal;
	font-weight: 300;
	src: url(../fonts/Favorit-LightExtended.otf); 
}

@import "partials/normalize.styl";
@import "partials/variable.styl";
@import "partials/default.styl";
@import "partials/mixin.styl";

/* Blocks */

@import "blocks/error-page.styl";
@import "blocks/header.styl";
@import "blocks/button.styl";
@import "blocks/carousel.styl";
@import "blocks/player.styl";
@import "blocks/panel.styl";
@import "blocks/slider.styl";