<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{serverData.data.title}}</title>
	{% include "templates/head.njk" %}
</head>
{% include "templates/header.html" %}
<body>
	{% include "templates/main.njk" %}
	<!-- Footer Scripts -->

</body>
</html>
