<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{serverData.data.title}}</title>
	{% include "templates/head.njk" %}
</head>
{% include "templates/header.html" %}
<body class="preview">
	{% include "templates/utils.njk" %}
	
	{% include "templates/main.html" %}

	<!-- Footer Scripts -->

</body>
</html>
