<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{serverData.data.title}}</title>
	{% include "templates/head.njk" %}
</head>
<body>
	{% include "templates/header.njk" %}
	<main class="main">
		<div class="container">
			{% include "templates/banner.njk" %}
		</div>
	</main>
</body>
</html>
