<header class="header">
	<div class="container">
		<nav class="navigation">
			<ul class="navigation__list font-base">
			  <li class="navigation__list-item"><a href="#">Records</a> </li>
			  <li class="navigation__list-item"><a href="#">Join discord</a> </li>
			</ul>
			<div class="navigation__item">Experience</div>
			<ul class="navigation__list font-base">
				<li class="navigation__list-item"><a href="#">Drops</a> </li>
				<li class="navigation__list-item"><a href="#">Products</a> </li>
				<li class="navigation__list-item"><a href="#">Contact</a> </li>
			</ul>
		  </nav>
	</div>
</header>
