<div class="panel">
    <div class="panel__item">
        <div class="panel__item-circle"></div>
        <div class="panel__item-line"></div>
        <div class="panel__item-dot_fill"></div>
        <div class="panel__item-dot"></div>
    </div>
    <div class="panel__center-circle"></div>
    <div class="panel__item">
        <div class="panel__item-dot"></div>
        <div class="panel__item-dot_fill"></div>
        <div class="panel__item-line"></div>
        <div class="panel__item-circle"></div>
    </div>
</div>