<div class="player">
  <div class="player__edge_top"></div>
  <audio src="#"></audio>
  <div class="player__icon">
      <img src="../images/player-icon.png" alt="icon">
  </div>
  <div class="player__track-bar"></div>
  <div class="player__edge_bottom"></div>
</div>