<div class="slider">
  <div class="slider__wrapper">
    <div class="slider__inner">
      <div class="slider__slide">
        <div class="slider__slide-item">
          <span class="slider__slide-text font-base">Nft</span>
          <h2 class="slider__slide-title">The Droplet</h2>
          <p class="slider__slide-description">Will be announced Soon</p>
          <button class="button">Join Waitlist</button>
        </div>
      </div>
    </div>
  </div>
</div>